// _colors.sass
// partial to help with auto-formatting in eclipse

$color-background-main: #373737;
$color-background-dark: #272727;
$color-background-super-dark: #171717;
$color-background-med-dark: #323232;
$color-background-main-gradient: rgba($color-background-main, 0.8);

$color-text-main: #ccc;
$color-text-hover: #eee;
$color-text-dark: #555;
$color-text-medium: #888;
$color-text-medium-hover: #aaa;

$color-button-main: #ffe57f;
$color-button-hover: #ffd740;
$color-button-text: $color-background-main;
