// _colors_light.sass
// partial to help with auto-formatting in eclipse
// light theme, currently intended for use in debug environment because I prefer light themes :P

$color-background-main: #fff;
$color-background-dark: #ddd;
$color-background-super-dark: #ccc;
$color-background-med-dark: #eee;
$color-background-main-gradient: rgba($color-background-main, 0.8);

$color-text-main: #222;
$color-text-hover: #444;
$color-text-dark: #000;
$color-text-medium: #555;
$color-text-medium-hover: #777;

$color-button-main: #aaa;
$color-button-hover: #bbb;
$color-button-text: $color-background-main;
