*.class
.classpath
.project
.settings/
log.out
target/
misaka/
.sass-cache/
media/
.README.md.html
phantomjsdriver.log
*.jar
!POMUpdater.jar
hs_err_pid*
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk
