//old edasaki.com-style coloring - consider creating theme system in the future
$bgColor: #96B0A3;
$darkBgColor: #8AA296;
$brownTextColor: #4B291A;
$darkGreenTextColor: #4F695C;
$lightBg: #F1E0BF;
$slightlyLighterBg: #F9E8C7;
$bgGradient: rgba($bgColor, 0.8);
$textonlightbg: #D5654C;
