@import "colors";

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: $color-background-main;
  background: linear-gradient($color-background-main-gradient, $color-background-main-gradient, url("../gfx/paper_2.png"));
  margin: 0 0 50px;
  padding: 0;
  color: $color-text-main;
  font-family: 'Ubuntu', sans-serif;
}

div, img {
  padding: 0;
  margin: 0;
  vertical-align: bottom;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.hidden-info {
  display: none;
  font-size: 1px;
}

.footer {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  background-color: $color-background-dark;
  color: $color-text-dark;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 0.8em;
  padding: 10px 0;

  a, a:hover, a:visited, a:active {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
}

.logo {
  margin: 50px auto 30px auto;
  display: block;
  max-width: 40%;
}

.loader-form {
  text-align: center;

  %common {
    font-family: 'Ubuntu', sans-serif;
    background-color: $color-button-main;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-align: center;
  }

  input[type=text] {
    @extend %common;

    background-image: url("../gfx/Search-48.png");
    background-size: 25px 25px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 45px;
    padding-right: 45px;
    outline: none;
    border-radius: 5px;
    height: 2em;
    width: 60%;
    font-size: 1.3em;
    margin-bottom: 10px;
    border: 3px solid #ccc;
    color: black;

    &:focus {
      border: 3px solid #999;
    }
  }

  button[type=submit] {
    @extend %common;

    padding: 8px 32px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    color: $color-button-text;
    border: 3px solid $color-background-dark;
    border-radius: 7px;
    font-weight: bold;
    font-size: 1.5em;

    &:hover {
      background-color: $color-button-hover;
    }
  }
}

.history {
  margin-top: 10px;
  font-family: 'Comfortaa', cursive;
  border: 1px solid black;
  text-align: center;
}

.reader-container {
  display: none;
}

.reader-title {
  font-family: 'Crimson Text', serif;
  display: block;
  text-align: center;
  font-size: 2em;
  padding: 5px 0 8px 0;
  background-color: $color-background-dark;
}

.reader-nav-container {
  width: 100%;
  position: relative;
  text-align: center;
  margin: 10px 0;
}

.reader-nav {
  background-color: $color-background-dark;
  padding: 3px 10px;
  display: inline-block;
  text-align: center;
  border: 3px solid $color-text-main;
  font-family: 'Ubuntu Mono', monospace;
}

.reader-nav-el {
  display: inline-block;
  margin: 0 5px;
  vertical-align: center;
}

.reader-nav-div {
  background-color: $color-text-main;
  width: 1px;
  display: inline-block;
  margin-bottom: -3px;
}

.reader-page-number-container {
  width: 100%;
  position: relative;
  text-align: center;
}

.reader-page-number {
  font-family: 'Ubuntu Mono', monospace;
  padding: 3px 10px;
  margin: 3px 0px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
  background-color: $color-background-dark;
}

.reader-pages {
  margin: 5px auto;
  width: 100%;
  text-align: center;
}

.reader-page {
  margin: 0 0;
  padding: 0 0;
}

.top-bottom-buttons {
  position: fixed;
  bottom: 10px;
  left: 20px;

  span {
    @extend .unselectable;

    &:hover {
      color: $color-text-hover;
      cursor: pointer;
    }

    font-size: 1.75em;
    display: block;
  }
}

.download-button {
  position: fixed;
  bottom: 10px;
  right: 20px;

  div {
    display: inline-block;
    visibility: hidden;
  }

  span {
    @extend .unselectable;

    &:hover {
      div {
        visibility: visible;
      }

      color: $color-text-hover;
      cursor: pointer;
    }

    font-size: 1.75em;
    display: block;
  }
}

.loading-container {
  display: none;
}

$loadingSquareSize: 85px;

.loading-bg-wrapper {
  background-color: $color-background-main;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 0 0;
  width: $loadingSquareSize * 4.5;
  height: $loadingSquareSize * 3;
  margin-top: -($loadingSquareSize * 3) / 2 - 15px;
  margin-left: -($loadingSquareSize * 4.5) / 2 - 12px;
  border-radius: 10px;
  border: 3px solid $color-text-medium;
}

.loading-display {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -$loadingSquareSize - 15px;
  margin-left: -$loadingSquareSize / 2 - 15px;

  .loading-text {
    width: $loadingSquareSize * 1.5;
    margin-top: 35px;
    margin-left: -12px;
    text-align: center;
    font-size: 1.5em;
    color: $color-button-main;
    font-family: 'Ubuntu Mono', monospace;
  }

  .loading-dots {
    display: inline-block;
    width: 25px;
    margin-left: -9px;
    text-align: left;
  }
}

/*
    sk-folding-cube code adapted from http://tobiasahlin.com/spinkit/ by Edasaki
*/
.sk-folding-cube {
  margin: 20px auto;
  width: $loadingSquareSize;
  height: $loadingSquareSize;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  background-color: $color-background-main;
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-button-main;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }

  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }

  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }

  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }

  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

.discord {
  display: inline;
  position: absolute;
  color: $color-text-medium;
  right: 10px;

  &:hover {
    color: $color-text-medium-hover;
  }

  img {
    margin-top: -2px;
    margin-left: 5px;
    vertical-align: middle;
  }
}

.changelog {
  text-align: center;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;

  h1 {
    font-size: 1.3em;
    font-weight: normal;
    margin: 10px 0 5px 0;
    padding: 0 0;
  }

  .changelog-text {
    text-align: left;
    white-space: pre;
    width: 50%;
    margin: 0 auto;
    border: 1px solid $color-text-dark;
    height: 200px;
    overflow: auto;
    padding: 0 0;
    display: none;
  }

  i:hover {
    @extend .unselectable;

    color: $color-text-hover;
    cursor: pointer;
  }

  p {
    padding-top: 5px;
    padding-left: 7px;
    margin: 0 0;
    lineheight: inherit;
  }
}

.jspCorner {
  background-color: $color-background-main;
}

.jspTrack {
  background-color: $color-background-main;
}

.jspDrag {
  background-color: $color-text-dark;
}

.search-result-container {
  display: none;
}

.re-search-form {
  text-align: center;
  margin-top: 10px;

  %common {
    font-family: 'Ubuntu', sans-serif;
    background-color: $color-button-main;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-align: center;
    font-size: 1.0em;
  }

  input[type=text] {
    @extend %common;

    background-image: url("../gfx/Search-48.png");
    background-size: 25px 25px;
    background-position: 5px 5px;
    background-repeat: no-repeat;
    padding-left: 45px;
    outline: none;
    border-radius: 5px;
    height: 2em;
    width: 30%;
    margin-bottom: 10px;
    border: 3px solid #ccc;
    color: black;
    text-align: left;

    &:focus {
      border: 3px solid #999;
    }
  }

  button[type=submit] {
    @extend %common;

    padding: 8px 16px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    color: $color-button-text;
    border: 3px solid $color-background-dark;
    border-radius: 7px;
    font-weight: bold;

    &:hover {
      background-color: $color-button-hover;
    }
  }
}

.search-results-title {
  text-align: center;
  width: 100%;
  color: $color-text-main;
  font-size: 2.3em;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 10px;
}

.search-results {
  width: 70%;
  margin: 5px auto 0;
  padding-bottom: 5px;
  background-color: $color-background-med-dark;

  a, a:hover, a:visited, a:active {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }

  a:hover {
    color: $color-text-hover;
  }
}

.search-result-title {
  @extend .unselectable;

  cursor: pointer;

  &:hover {
    color: $color-text-hover;
  }
}

.search-source {
  margin-top: 10px;
  border: 2px solid $color-background-dark;
  padding-bottom: 5px;
}

.search-source-name {
  text-align: center;
  width: 100%;
  padding: 3px 0;
  font-size: 1.6em;
  background-color: $color-background-super-dark;
  margin-bottom: 5px;

  i:hover {
    @extend .unselectable;

    color: $color-text-hover;
    cursor: pointer;
  }
}

.search-result {
  padding: 5px;
  width: 100%;
  display: table;
  table-layout: auto;

  .search-result-name {
    font-size: 1.5em;
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    width: 100%;
    margin-right: -20px;
  }

  img {
    margin-left: 7px;
    max-width: 50px;
    max-height: 100px;
    display: table-cell;
  }

  .alt-names {
    cursor: default;
    font-size: 0.7em;
  }
}

.manga-info-full-page-container {
  background-color: rgba(black, 0.7);
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: none;
}

.manga-info-container {
  $info-width: 50%;
  $info-height: 520px;
  $min-width: 650px;

  width: $info-width;
  min-width: $min-width;
  min-height: $info-height;
  height: auto;
  background-color: $color-background-dark;
  border: 3px solid $color-text-dark;

  @media (min-width: $min-width) {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -$info-height / 1.5;
    margin-left: -$info-width / 2;
  }

  padding: 10px;

  .top-wrapper {
    display: block;
  }

  .title {
    font-size: 2em;
    font-weight: bold;
  }

  .divider {
    margin: 10px auto 8px;
    height: 1px;
    border-radius: 1px;
    background-color: $color-text-dark;
    width: 100%;
  }

  img {
    float: right;
    max-width: 200px;
    max-height: 200px;
    margin-left: 3px;
  }

  .chapter-header {
    text-align: center;
    width: 100%;
    font-size: 1.15em;
    margin-bottom: 10px;
  }

  .chapters {
    background-color: $color-background-med-dark;
    height: 250px;
    text-align: left;
    border: 1px solid $color-text-dark;
  }

  .chapter-bottom-padding {
    height: 5px;
    width: 100%;
  }

  .chapter-wrapper {
    width: 100%;
    padding: 5px 0 5px 5px;
    vertical-align: middle;

    &.hovered {
      background-color: $color-background-dark;
    }

    .individual-chapter-download-button {
      @extend .unselectable;

      padding-right: 7px;
      display: inline;
      vertical-align: middle;

      &:hover {
        color: $color-button-main;
        text-decoration: none;
        cursor: pointer;
      }
    }

    .chapter {
      @extend .unselectable;

      vertical-align: middle;
      display: inline;
      overflow: hidden;
    }
  }

  .textFitted {
    display: block !important;
  }

  .manga-description-container {
    height: 75px;
  }

  .alt, .genre, .author, .artist {
    margin-bottom: 3px;
  }
}

/**
* micro-clearfix
*/
.cf:before,
.cf:after {
  content: " ";

  /* 1 */
  display: table;

  /* 2 */
}

.cf:after {
  clear: both;
}

/**
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/
.cf {
  *zoom: 1;
}
